<strong>Hello, {{ client }} </strong>
<p>Your question has been answered</p>
<p>
  <strong><i>{{data}}</i></strong> <br />
  <strong>Question: </strong> {{question}} <br />
  <strong>Answer: </strong> {{answer}} <br />
  <br />

  Be Fit!!
</p>
