<strong>Hello, {{ client }} </strong>
<p>Your gympoint membership has been completed</p>
<p>
  <strong>Plan: </strong> {{plan}} <br />
  <strong>End date: </strong> {{enddate}} <br />
  <strong>Price: </strong> {{price}} <br />
  <br />

  Welcome to our Gym :)
  Be Fit!!
</p>
